html { background: #f3f3f4; }
body { padding: 20px; }

.ibox-warp {
  background: #fff;
  padding-bottom: 50px;
}

.ibox-title {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: #fff;
  border-color: #e7eaec;
  -webkit-border-image: none;
  -o-border-image: none;
  border-image: none;
  border-style: solid solid none;
  border-width: 4px 0 0;
  color: inherit;
  margin-bottom: 0;
  padding: 14px 15px 7px;
  color: #676a6c;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  margin-bottom: 20px;
}

.ibox-title h3 {
  font-weight: bold;
}

/* 步骤条 */
.step-header {
  width: 90%;
  margin: 0 auto;
  padding: 20px 0 60px 20px;
}

.step-header>ul .step-true-bg {
  background: #18a689;
}

.step-header>ul>li .step-true-color {
  color: #18a689;
}

.step-header>ul {
  margin: 0 auto;
  margin-right: 18px;
  padding: 0;
  list-style: none;
}

.step-header>ul:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}

.step-header>ul>li {
  float: left;
  width: 32%;
  height: 8px;
  background: #e7e7e7;
  margin-right: 2%;
  position: relative;
}

.step-header>ul>li:nth-child(3) {
  margin: 0;
}

.step-circle {
  width: 28px;
  height: 28px;
  border-radius: 14px;
  color: #fff;
  display: block;
  position: absolute;
  left: 50%;
  top: -10px;
  margin-left: -14px;
  background: inherit;
  text-align: center;
  line-height: 28px;
}

.step-header>ul p {
  float: left;
  position: absolute;
  left: 50%;
  top: 30px;
  font-size: 14px;
  color: #a5a5a5;
  font-family: 'Microsoft YaHei';
  width: 84px;
  margin-left: -42px;
  text-align: center;
}

/* 表单 */
.layui-form-label { width: 200px; }
.layui-input-block { margin-left: 230px; }
.layui-input { width: 400px; }
.vcodebox .layui-input { float: left; margin-right: 20px; }
.vcodebox img { margin: 1px 0; }
.formBox { 
  width: 90%;
  margin: 0 auto;
  padding: 60px 0 20px 0;
  border-radius: 6px;
  background: #f3f3f4; 
}
.showmobile {
  line-height: 36px;
  color: #666;
}

/* 步骤 - 完成 */
#ChangeLoginPwd3 {
  text-align: center;
}
#ChangeLoginPwd3 .lead {
  font-size: 18px;
  padding-top: 20px;
  padding-bottom: 100px;
}












