.title{
    height: 80px;
    border-bottom: 1px solid #e4e4e4;
    padding-left: 50px;
    line-height: 80px;
    background-color: #ffffff;
}
.title h1{
    font-size: 20px;
    font-weight: bold;
}
.main-content{
    min-height: 600px;
    background-color: #FFFFFF;
    padding: 50px 50px 0;
}
.main-content label{
    width: 120px;
    vertical-align: middle;
    font-size: 12px;
}
.main-content input{
    width: 200px;
    height: 24px;
}
.main-content .layui-input-block{
    padding: 9px 0;
}

.main-content div.sex{
    padding-top: 0;
}
.main-content label i{
    color: #ff3c29;
    font-size: 12px;
}
.main-content form input.b-btn{
    width: 54px;
    height: 24px;
}
