.nav{
    height: 72px;
    padding: 15px 0;
}
.nav ul{
    height: 42px;
}
.nav ul li{
    float: left;
    height: 40px;
    padding: 17px 10px;
}
.nav ul li a{
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 18px;
    color: #fff;
}
.nav ul li a:hover{
    background-color: #fff;
    color: #FE3B27;
}
