
body{
    background-color: #1cc8c6;
    position: relative;
    height: 100%;
}
.login-info{
    width: 400px;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -225px;
    margin-top: -182px;
    background-color: rgba(35,35,35,0.6);
    padding: 50px 50px 50px 0;
}

.login-info label{
    color: 	#DCDCDC;
}
.login-info .layui-form-item input{
    display: inline-block;
    width: 290px;
}
.login-info .layui-form-item.verification-code input{
    width: 150px;
}
.login-info .layui-form-item img{
    height: 30px;
    width: 100px;
    display: inline-block;
    margin-left: 35px;
    cursor: pointer;
}
.login-info .layui-form-item button.reset{
    float: right;
}
