/* 公共区域 start */
*{margin: 0;padding: 0;}
body{font-family: "Microsoft YaHei", "微软雅黑", STXihei, "华文细黑";}
ul{list-style: none;}
a{text-decoration: none;color: #666;}
a:hover{
	color: #349aac;
}
.active{
 	color: #349aac;
 }
 img{border: none;}
/* 公共区域 end */

 /* top区域 start */
.top{
	width: 100%;
}
.nav{
	width: 1130px;
	height: 60px;
	margin: 30px auto;
}
.nav ul, .nav div.logo, .nav div.search{
	float: left;
}
 .nav div.search{
 	width: 213px;
 	height: 60px;
  line-height: 60px;
  position: relative;
 }
 .search>input{
 	height: 36px;
	border-radius: 18px 18px 18px 18px;
 	border: 1px solid #ccc;
 	padding: 0 18px;
 	padding-right: 38px;
  width: 155px;
  font-size: 12px;
 }
 .search>input:focus{
 	outline: 0;
 }
 
 .nav div.search>a{
 	position: absolute;
 	width: 30px;
 	height: 30px;
 	display: inline-block;
  right: 10px;
  top: 12px;
 }
 .nav div.search>a>img{
 	width: 30px;
 	height: 30px;
 }
.nav li{
	display: inline-block;
	height: 100%;
	width: 105px;
	line-height: 60px;
	text-align: center;
	font-size: 18px;
	color: #666;
	background: url(../img/cols_line.png) right center no-repeat;
}
.nav li:last-child{
	background: none;
}
.nav li>a{
	display: inline-block;
	width: 100%;
	height: 100%;
}
.banner{
	width: 100%;
	height: 500px;
	position: relative;
	overflow: hidden;
}
.ulBox{
	width: 100%;
	height: 500px;
	position: absolute;
	overflow: hidden;
	margin: 0;
	padding: 0;
}
.ulBox>li{
	float: left;
	width: 100%;
	height: 500px;
	text-align: center;
}
.ulBox>li>a{
	display: inline-block;
	width: 100%;
	height: 100%;
	position: relative;
}
.quare_ul{
	position: absolute;
	left: 50%;
	margin-left: -65px;
  width: auto;
  overflow: hidden;
  bottom: 30px;
}
.quare_ul>li{
	width: 15px;
	height: 15px;
	float: left;
	margin-right: 20px;
	border: 1px solid #ccc;
	cursor: pointer;
	border-radius: 15px;
	background-color: #fff;
	
}
.quare_ul>li:last-child{
	margin-right: 0px;
}
.quare_ul>li.inThis{
	background-color: rgba(0,0,0,.5);
	border: 1px solid rgba(0,0,0,.5);
}
.baner_txt{
	position: absolute;
	color: #fff;
	width: 1130px;
	left: 50%;
	margin-left: -565px;
	background: transparent;
	height: 200px;
	top: 50%;
	margin-top: -100px;
	text-align: left;
}
.baner_txt>span{
	display: block;
}
.bannerTxt1{
	font-size: 28px;
	font-family: ﻿FZLTZHK--GBK1-0;
	line-height: 55px;
	height: 55px;
}
.bannerTxt2{
	font-size: 48px;
	font-family: ﻿FZLTZHK--GBK1-0;
	line-height: 55px;
	height: 55px;
}
.bannerBtn{
	width: 150px;
	height: 50px;
	border: solid 1px rgba(255, 255, 255, 1);
	color: #fff;
	background-color: transparent;
	font-size: 18px;
	line-height: 50px;
  cursor: pointer;
  margin-top: 30px;
}
/* top区域 end */

/* container区域 start */
		/* 我们的服务 区域 start */
.service_wrap{
	width: 1130px;
	margin: 38px auto;
  overflow: hidden;
  margin-top: 42px;
}
.titleBox{
	position: relative;
}
.znTxt{
	font-size: 24px;
	color: #333;
	height: 30px;
	line-height: 30px;
	display: inline-block;
	padding-right: 12px;
	position: relative;
  z-index: 99;
  background: #fff;
}
.enTxt{
	font-size: 16px;
	color: #999;
	font-family: ﻿ArialMT;
	font-style: inherit;
	height: 30px;
	line-height: 30px;
	display: inline-block;
	padding-right: 10px;
	margin-left: -5px;
	position: relative;
	top: -3px;
  z-index: 99;
  background: #fff;
}
.lab_line{
	height: 1px;
	line-height: 30px;
	width: 100%;
	border-top: 1px solid #ccc;
	position: absolute;
  top: 50%;
  left: 0;
}
.img_wrap{
	width: 360px;
	height: 240px;
	position: relative;
  float: left;
  margin-right: 25px;
  margin-top: 20px;
}
.content_wrap>div.img_wrap:last-child{
	margin-right: 0;
}
.img_title{
	position: absolute;
	left: 0;
	bottom: 0;
	font-size: 18px;
	color: #fff;
	height: 50px;
	line-height: 50px;
	display: block;
	width: 100%;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.5);
}
		/* 我们的服务 区域end */
.wrapBox{
	width: 1130px;
	margin: 30px auto;
  overflow: hidden;
}
.about_wrap, .contact_wrap{
	width: 545px;
	float: left;
	
}
.about_wrap>p, .contact_wrap>p{
	line-height: 24px;
	font-size: 14px;
	color: #666;
}

.wrap_container{
	width: 100%;
	background-color: #f5f5f5;
	overflow: hidden;
}
		/* 关于我们,联系我们 区域start */
.about_wrap{
	margin-right: 40px;
	margin-top: 5px;
}
.wrap_container .znTxt, .wrap_container .enTxt{
	background: #f5f5f5;
}
.aboutImgBox, .contactImgBox{
	margin-top: 15px;
	margin-bottom: 30px;
}
		/* 关于我们,联系我们 区域end */

.press_wrap{
  width: 1130px;
  margin: 38px auto;
  overflow: hidden;
  margin-top: 42px;
}
.press_wrap .img_wrap{
	width: 545px;
	height: 320px;
	margin-right: 40px;
}
.press_wrap .img_wrap>.img_title{
	background-color: rgba(52, 154, 172, .5);
}
.press_wrap .img_wrap>.img_title>i{
	font-style: inherit;
}
.i_title{
	float: left;
	margin-left: 20px;
}
.i_time{
	float: right;
	margin-right: 20px;
}
.press_wrap .img_wrap>ul>li>img{
	width: 100px;
	height: 100px;
	float: left;
}
.press_wrap .img_wrap>ul>li{
	margin-bottom: 10px;
  overflow: hidden;
}
.press_wrap .img_wrap>ul>li>label{
	float: left;
	width: 445px;
	background-color: #fff;
	height: 100px;
}
.press_wrap .img_wrap>ul>li>label:hover{
	background-color: #f5f5f5;
}
.press_wrap .img_wrap>ul>li>label>h4{
	font-size: 18px;
	color: #333;
	margin-left: 15px;
	line-height: 35px;
}
.press_wrap .img_wrap>ul>li>label>p{
	font-size: 14px;
	line-height: 21px;
	color: #999;
	margin: 0 15px;
	margin-right: 10px;
}
.press_wrap .img_wrap>ul>li>label>span i{
	font-style: inherit;
	font-size: 12px;
	line-height: 21px;
}
.press_wrap .img_wrap>ul>li>label>span i.i_title{
	margin-left: 15px;
	color: #333;
}
.press_wrap .img_wrap>ul>li>label>span i.i_time{
	margin-right: 15px;
	color: #999;
}
/* container区域 end */
.lookMore{
	width: 1130px;
	margin: 30px auto;
	overflow: hidden;
	height: 85px;
}
.lookMoreBtn{
	float: left;
	width: 150px;
	height: 50px;
}
.lookMore a{
	display: inline-block;
	width: 150px;
	height: 50px;
	font-size: 18px;
	border: 1px solid #349aac;
	text-align: center;
	line-height: 50px;
}
.lookMoreBtn > a{color: #349aac;}
.lookMoreSubscribe{
	float: right;
}
.lookMoreSubscribe>input{
	width: 180px;
	height: 50px;
	padding: 0 20px;
	border: 1px solid #349aac;
	float: left;
}
.lookMoreSubscribe>a{
	background-color: #349aac;
	color: #fff;
	
}
/* 在线客服、发送邮件、提交需求 start */
.rightPullOver{
	position: fixed;
	left: 1130px;
	width: 70px;
	height: 200px;
	left: 9999px;
	bottom: 95px;
}
.rightPullOver>ul>li{
	width: 70px;
	height: 68px;
	border: 1px solid #ddd;
	text-align: center;
	line-height: 100px;
	font-size: 12px;
	color: #666;
}
.rightPullOver>ul>li>a{
	display: inline-block;
	width: 100%;
	height: 100%;
}
.sendEmail, .submitDemand{
	border-top: none!important;
}
.customerService{
	background: url(../img/customer_service.png) center 10px no-repeat;
}
.customerService:hover{
	background: url(../img/customer_service2.png) center 10px no-repeat;
}
.sendEmail{
	background: url(../img/email.png) center 10px no-repeat;
}
.sendEmail:hover{
	background: url(../img/email2.png) center 10px no-repeat;
}
.submitDemand{
	background: url(../img/demand.png) center 10px no-repeat;
}
.submitDemand:hover{
	background: url(../img/demand2.png) center 10px no-repeat;
}

/* 在线客服、发送邮件、提交需求  end */

.footer{
	width: 100%;
	color: #fff;
	background-color: #222;
	height: 60px;
	line-height: 60px;
	font-size: 12px;
}
.footBox{
	width: 1130px;
	margin: 0 auto;
}
.footLeft{
	float: left;
}
.footRight{
	float: right;
}
