/* 公共区域 start */
*{margin: 0;padding: 0;}
body{font-family: "Microsoft YaHei", "微软雅黑", STXihei, "华文细黑";}
ul{list-style: none;}
a{text-decoration: none;color: #666;}
a:hover{
	color: #349aac;
}
.active{
 	color: #349aac!important;
 }
 img{border: none;}
/* 公共区域 end */

 /* top区域 start */
.top{
	width: 100%;
}
.nav{
	width: 1130px;
	height: 60px;
	margin: 30px auto;
}
.nav ul, .nav div.logo, .nav div.search{
	float: left;
}
 .nav div.search{
 	width: 213px;
 	height: 60px;
  line-height: 60px;
  position: relative;
 }
 .search>input{
 	height: 36px;
	border-radius: 18px 18px 18px 18px;
 	border: 1px solid #ccc;
 	padding: 0 18px;
 	padding-right: 38px;
  width: 155px;
  font-size: 12px;
 }
 .search>input:focus{
 	outline: 0;
 }
 
 .nav div.search>a{
 	position: absolute;
 	width: 30px;
 	height: 30px;
 	display: inline-block;
  right: 10px;
  top: 12px;
 }
 .nav div.search>a>img{
 	width: 30px;
 	height: 30px;
 }
.nav li{
	display: inline-block;
	height: 100%;
	width: 105px;
	line-height: 60px;
	text-align: center;
	font-size: 18px;
	color: #666;
	background: url(../img/cols_line.png) right center no-repeat;
}
.nav li:last-child{
	background: none;
}
.nav li>a{
	display: inline-block;
	width: 100%;
	height: 100%;
}
.banner{
	width: 100%;
	height: 330px;
	position: relative;
	overflow: hidden;
}
.ulBox{
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden;
	margin: 0;
	padding: 0;
}
.ulBox>li{
	float: left;
	width: 100%;
	height: 100%;
	text-align: center;
}
.ulBox>li>a{
	display: inline-block;
	width: 100%;
	height: 100%;
	position: relative;
}
.ulBox>li>a>img{
	height: 100%;
	width: 100%;
}
.quare_ul{
	position: absolute;
	left: 50%;
	margin-left: -65px;
  width: auto;
  overflow: hidden;
  bottom: 30px;
}
.quare_ul>li{
	width: 15px;
	height: 15px;
	float: left;
	margin-right: 20px;
	border: 1px solid #ccc;
	cursor: pointer;
	border-radius: 15px;
	background-color: #fff;
	
}
.quare_ul>li:last-child{
	margin-right: 0px;
}
.quare_ul>li.inThis{
	background-color: rgba(0,0,0,.5);
	border: 1px solid rgba(0,0,0,.5);
}
.baner_txt{
	position: absolute;
	color: #fff;
	width: 1130px;
	left: 50%;
	margin-left: -565px;
	background: transparent;
	height: auto;
	top: 50%;
	margin-top: -100px;
	overflow: hidden;
	text-align: left;
}
.baner_txt>span{
	display: block;
}
.bannerTxt1{
	font-size: 28px;
	font-family: ﻿FZLTZHK--GBK1-0;
	line-height: 55px;
	height: 55px;
}
.bannerTxt2{
	font-size: 48px;
	font-family: ﻿FZLTZHK--GBK1-0;
	line-height: 55px;
	height: 55px;
}
.bannerBtn{
	width: 150px;
	height: 50px;
	border: solid 1px rgba(255, 255, 255, 1);
	color: #fff;
	background-color: transparent;
	font-size: 18px;
	line-height: 50px;
  cursor: pointer;
  margin-top: 30px;
}
/* top区域 end */

/* container区域 start */
		/* 我们的服务 区域 start */
.service_wrap{
	width: 1130px;
	margin: 38px auto;
  overflow: hidden;
  margin-top: 42px;
}
.titleBox{
	position: relative;
}
.znTxt{
	font-size: 24px;
	color: #333;
	height: 30px;
	line-height: 30px;
	display: inline-block;
	padding-right: 12px;
	position: relative;
  z-index: 99;
  background: #fff;
}
.enTxt{
	font-size: 16px;
	color: #999;
	font-family: ﻿ArialMT;
	font-style: inherit;
	height: 30px;
	line-height: 30px;
	display: inline-block;
	padding-right: 10px;
	margin-left: -5px;
	position: relative;
	top: -3px;
  z-index: 99;
  background: #fff;
}
.lab_line{
	height: 1px;
	line-height: 30px;
	width: 100%;
	border-top: 1px solid #ccc;
	position: absolute;
  top: 50%;
  left: 0;
}
.img_wrap{
	width: 360px;
	height: 240px;
	position: relative;
  float: left;
  margin-right: 25px;
  margin-top: 20px;
}
.content_wrap>div.img_wrap:last-child{
	margin-right: 0;
}
.img_title{
	position: absolute;
	left: 0;
	bottom: 0;
	font-size: 18px;
	color: #fff;
	height: 50px;
	line-height: 50px;
	display: block;
	width: 100%;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.5);
}
		/* 我们的服务 区域end */
.wrapBox{
	width: 1130px;
	margin: 30px auto;
  overflow: hidden;
}
.about_wrap, .contact_wrap{
	width: 545px;
	float: left;
	
}
.about_wrap>p, .contact_wrap>p{
	line-height: 24px;
	font-size: 14px;
	color: #666;
}

.wrap_container{
	width: 100%;
	background-color: #f5f5f5;
	overflow: hidden;
}
		/* 关于我们,联系我们 区域start */
.about_wrap{
	margin-right: 40px;
	margin-top: 5px;
}
.wrap_container .znTxt, .wrap_container .enTxt{
	background: #f5f5f5;
}
.aboutImgBox, .contactImgBox{
	margin-top: 15px;
	margin-bottom: 30px;
}
		/* 关于我们,联系我们 区域end */

.press_wrap{
  width: 1130px;
  margin: 38px auto;
  overflow: hidden;
  margin-top: 42px;
}
.press_wrap .img_wrap{
	width: 545px;
	height: 320px;
	margin-right: 40px;
}
.press_wrap .img_wrap>.img_title{
	background-color: rgba(52, 154, 172, .5);
}
.press_wrap .img_wrap>.img_title>i{
	font-style: inherit;
}
.i_title{
	float: left;
	margin-left: 20px;
}
.i_time{
	float: right;
	margin-right: 20px;
}
.press_wrap .img_wrap>ul>li>img{
	width: 100px;
	height: 100px;
	float: left;
}
.press_wrap .img_wrap>ul>li{
	margin-bottom: 10px;
  overflow: hidden;
}
.press_wrap .img_wrap>ul>li>label{
	float: left;
	width: 445px;
	background-color: #fff;
	height: 100px;
}
.press_wrap .img_wrap>ul>li>label:hover{
	background-color: #f5f5f5;
}
.press_wrap .img_wrap>ul>li>label>h4{
	font-size: 18px;
	color: #333;
	margin-left: 15px;
	line-height: 35px;
}
.press_wrap .img_wrap>ul>li>label>p{
	font-size: 14px;
	line-height: 21px;
	color: #999;
	margin: 0 15px;
	margin-right: 10px;
}
.press_wrap .img_wrap>ul>li>label>span i{
	font-style: inherit;
	font-size: 12px;
	line-height: 21px;
}
.press_wrap .img_wrap>ul>li>label>span i.i_title{
	margin-left: 15px;
	color: #333;
}
.press_wrap .img_wrap>ul>li>label>span i.i_time{
	margin-right: 15px;
	color: #999;
}
/* container区域 end */
.lookMore{
	width: 1130px;
	margin: 30px auto;
	overflow: hidden;
	height: 85px;
}
.lookMoreBtn{
	float: left;
	width: 150px;
	height: 50px;
}
.lookMore a{
	display: inline-block;
	width: 150px;
	height: 50px;
	font-size: 18px;
	border: 1px solid #349aac;
	text-align: center;
	line-height: 50px;
}
.lookMoreBtn > a{color: #349aac;}
.lookMoreSubscribe{
	float: right;
}
.lookMoreSubscribe>input{
	width: 180px;
	height: 50px;
	padding: 0 20px;
	border: 1px solid #349aac;
	float: left;
}
.lookMoreSubscribe>a{
	background-color: #349aac;
	color: #fff;
	
}
/* 在线客服、发送邮件、提交需求 start */
.rightPullOver{
	position: fixed;
	width: 55px;
	height: 200px;
	left: 9999px;
	bottom: 95px;
	background-color: #fff;
}
.rightPullOver>ul>li{
	width: 54px;
	height: 65px;
	border: 1px solid #ddd;
	text-align: center;
	line-height: 100px;
	font-size: 12px;
	color: #666;
}
.rightPullOver>ul>li:last-child{
	height: 66px;
}
.rightPullOver>ul>li>a{
	display: inline-block;
	width: 100%;
	height: 100%;
}
.sendEmail, .submitDemand{
	border-top: none!important;
}
.customerService{
	background: url(../img/customer_service.png) center 10px no-repeat;
}
.customerService:hover{
	background: url(../img/customer_service2.png) center 10px no-repeat;
}
.sendEmail{
	background: url(../img/email.png) center 10px no-repeat;
}
.sendEmail:hover{
	background: url(../img/email2.png) center 10px no-repeat;
}
.submitDemand{
	background: url(../img/demand.png) center 10px no-repeat;
}
.submitDemand:hover{
	background: url(../img/demand2.png) center 10px no-repeat;
}

/* 在线客服、发送邮件、提交需求  end */

.footer{
	width: 100%;
	color: #fff;
	background-color: #222;
	height: 60px;
	line-height: 60px;
	font-size: 12px;
}
.footBox{
	width: 1130px;
	margin: 0 auto;
}
.footLeft{
	float: left;
}
.footRight{
	float: right;
}


/********************* contact.html 								start********************/
#contactBanner .ulBox{
	background: url(../img/contactBanner_bg01.png) center no-repeat;
}
#contactBanner .baner_txt{
	text-align: center;
}
.introduce, .contact{
	width: 1130px;
	margin: 30px auto;
	overflow: hidden;
}
.introduce{
	margin-top: 40px;
}
 .contact{
 	margin-bottom: 35px;
 }
.introduce>p, .contact>p{
	font-size: 16px;
	color: #333;
	line-height: 32px;
}
/********************* contact.html 							end********************/

/********************* applicationField.html 			start********************/
#applicationFieldBanner .baner_txt{
	text-align: center;
	color: #349aac;
}
/********************* applicationField.html 			end********************/

/********************* serviceCenter.html 				start********************/
#serviceCenterBanner .ulBox{
	background: url(../img/serviceCenterBanner_bg01.png) center no-repeat;
}
#serviceCenterBanner .baner_txt{
	text-align: center;
}
#serviceCenterIntroduceWrap{
	border-bottom: 1px dashed #ddd;
	position: relative;
}
#serviceCenterIntroduceWrap>img{
	float: left;
	width: 350px;
	height: 245px;
	margin-left: 20px;
  margin-bottom: 35px;
}
#serviceCenterIntroduceWrap>label{
	float: left;
	margin-left:420px;
	width: 685px;
	height: 224px;
	position: absolute;
	top: 10px;
	left: 10px;
}
#serviceCenterIntroduceWrap>label>p{
	font-size: 16px;
	line-height: 26px;
	color: #666;
	margin-bottom: 20px;
}
#serviceCenterContact>p{
	font-size: 14px;
	line-height: 24px;
	color: #666;
}
.labTitle{
	font-size: 18px;
	color: #333;
	display: block;
	margin-bottom: 15px;
}
.serviceCenterIntroduceImg{
	overflow: hidden;
	margin: 0 auto;
  margin-top: -5px;
	border-bottom: 1px dashed #ddd;
	padding-bottom: 30px;
}
.imgBox{
	display: inline-block;
	margin-right: 15px;
}
.imgBox>p{
	font-size: 12px;
	color: #999;
	margin-top: 7px;
}
/********************* serviceCenter.html 				end********************/


/********************* newGrug.html 							start********************/
#newGrugBanner{
	height: 330px;
}
#newGrugBanner .baner_txt{
	text-align: center;
	color: #349aac;
}
#newGrugBanner .baner_txt .bannerBtn{
	color: #349aac;
	border: 1px solid #349aac;
}
#newGrugContainer{
	background-color: #f5f5f5;
	overflow: hidden;
}
.whiteWrap{
	width: 1120px;
	overflow: hidden;
	margin: 30px auto;
	background-color: #fff;
	padding: 0 25px;
	margin-bottom: 40px;
}
.myTab{
	min-height: 250px;
	border-bottom: 1px dashed #ddd;
}
.myTab ul{
	overflow: hidden;
	height: 38px;
	width: 572px;
	margin: 40px auto;
	
}
.myTab ul>li{
	float: left;
	text-align: center;
	height: 36px;
	line-height: 36px;
	font-size: 14px;
	color: #349aac;
	border: 1px solid #349aac;
	border-right: none;
	width: 189px;
	cursor: pointer;
}
.activeLi{
	background-color: #349aac!important;
	color: #fff!important;
}
.myTab ul>li:last-child{
	border-right: 1px solid #349aac;
	width: 188px;
}
#tagService, #detectionService, #scientificService{
	display: none;
	line-height: 24px;
	width: 850px;
	margin: 0 auto;
	color: #666;
	text-align: center;
}
.introduceWrap{
	overflow: hidden;
	margin: 35px 0;
	
}
.introduceWrap>p{
	line-height: 24px;
	color: #333;
	font-size: 16px;
}
.newDrugIntroduceImg{
	overflow: hidden;
	margin: 20px 0;
	
}
.newDrugIntroduceImg>img{
	vertical-align: middle;
	margin-right: 15px;
}
/********************* newGrug.html 							end********************/

/********************* applicationField.html 							start********************/
.applicationFieldWrap{
	width: 810px;
	margin: 30px auto;
	overflow: hidden;
  margin-bottom: 10px;
}
.applicationBox{
	width: 395px;
	height: 165px;
	position: relative;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
  line-height: 24px;
	color: #fff;
  background: url(../img/applicationField_bg.png) center no-repeat;
}
.applicationBox>h3{
	font-size: 20px;
	margin-left: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.applicationBox>p{
	font-size: 14px;
	margin-left: 20px;
}
.applicationBox>img{
	position: absolute;
	right: 45px;
	top: 50%;
	margin-top: -48px;
	
}
.applicationFieldWrap>div.applicationBox:nth-child(2n){
	margin-right: 0;
}
/********************* applicationField.html 							end********************/


/********************* productCenter.html 							start********************/

#productCenterBanner .ulBox{
	background: url(../img/productCenterBanner_bg.png) center no-repeat;
}
#productCenterBanner .baner_txt{
	text-align: center;
}
#productCenterContainer{
	background-color: #f5f5f5;
  overflow: hidden;
  position: relative;
}
ol.breadcrumb{
	position: absolute;
	margin: 0 auto;
	width: 1120px;
	height: 30px;
	line-height: 30px;
	list-style: none;
	left: 50%;
	margin-left: -560px;
}
#productCenterContainer ol>li{
	float: left;
	font-size: 12px;
	color: #999;
}
#productCenterContainer .whiteWrap{
	padding: 0;
	background-color: #f5f5f5;
}
.leftNav{
	width: 270px;
	height: 387px;
	box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.15);
	float: left;
	background-color: #fff;
}
.leftNav>ul>li, .leftNav>ul>li dd{
	font-size: 16px;
	line-height: 36px;
	color: #333;
	width: 100%;
	position: relative;
}
.leftNav>ul>li dd{padding-left: 10px;}
.leftNav>ul>li dl{display: none;}
.leftNav>ul>li{
	border-bottom: 1px solid #eee;
	box-sizing: border-box;
	padding: 10px;
	margin-bottom: 10px;
}
#productCenterContainer .leftNav>ul>li:last-child{border-bottom: none;}
.leftNav>ul>li:hover>a{
	color: #349aac;
}
.leftNav>ul>li>a{
	height: 36px;
	line-height: 36px;
	width: 100%;
	display: inline-block;
}
.leftNav>ul>li>img{
	position: absolute;
	right: 20px;
	top: 17px;
	cursor: pointer;
	width: 15px;
	height: 15px;
}

.rightContent{
	width: 835px;
	float: left;
	overflow: hidden;
	margin-left: 15px;
	background-color: #f5f5f5;
}
.searchDiv{
	height: 40px;
	width: 830px;
	background-color: rgba(255, 255, 255, 1);
	box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.15);
	border: solid 1px rgba(74, 162, 178, 1);
}
.searchInput{
	width: 665px;
	height: 40px;
	border: none;
	padding: 0 10px;
	float: left;
}
.searchA{
	display: inline-block;
	width: 145px;
	height: 40px;
	background-color: rgba(52, 154, 172, 1);
	text-align: center;
	line-height: 40px;
	border: none;
	float: left;
	color: #fff;
}
a.searchA:hover{
	color: #fff;
}
.contentBox{
	box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.15);
	width: 835px;
	overflow: hidden;
	background-color: #fff;
	margin-top: 20px;
	min-height: 325px;
	position: relative;
}
.tableBox{
	width: 800px;
	margin: 20px auto;
	text-align: center;
	border: 1px solid #349aac;
}
.tableBox tr td{
	border-bottom: 1px solid #349aac;
	border-right: 1px solid #349aac;
}
table.tableBox tr.firstTr{
	background-color: #349aac;
}
.tableBox tr:nth-child(2n){
	background-color: #ebf5f7;
}
.tableBox tr:nth-child(2n+1){
	background-color: #cce6eb;
}
.tableBox tr td:last-child{border-right: none;}
.tableBox tr:last-child>td{border-bottom: none;}
.tableBox caption{
	font-size: 18px;
	line-height: 32px;
	color: #349aac;
	text-align: left;
	margin-bottom: 10px;
}
.contentBox>p.noData{
	display: none;
	font-size: 18px;
	color: #333;
	line-height: 325px;
	height: 325px;
	width: 100%;
	text-align: center;
}
p.noData>a{
	color: #349aac;
}

.productDetails{
	width: 830px;
	background-color: #fff;
	overflow: hidden;
	min-height: 500px;
}
.productDetailTitle{
	padding: 0 20px;
	border-bottom:1px solid #eee;
	margin: 0 20px;
	height: 70px;
	line-height: 70px;
}
.productDetailTitle>h3{
	color: #349aac;
	font-size: 18px;
}
.productDetailList{
	height: 250px;
	border-bottom: 1px solid #eee;
	width: 100%;
}
.leftImg{
	width: 470px;
	height: 100%;
	float: left;
	text-align: center;
}
.leftImg>img{margin-top: 65px;}
.rightDetail{
	float: left;
	height: 100%;
	width: 360px;
}
.rightDetail>table{
	width: 100%;
	line-height: 30px;
	margin-top: 60px;
}
.rightDetail>table tr>td:nth-child(1){
	font-size: 12px;
	color: #333;
}
.rightDetail>table tr>td:nth-child(2){
	font-size: 14px;
	color: #349aac;
}
.formGgroup{
	height: 390px;
}
.formGgroup>h3{
	color: #349aac;
	font-size: 18px;
	margin: 25px 40px 15px;
}
.formGgroup>form{
	margin: 0 40px;
	overflow: hidden;
}
.formGgroup>form>input{
	width: 260px;
	height: 40px;
	padding: 0 10px;
	border: 1px solid #ddd;
	margin-right: 90px;
	margin-bottom: 30px;
}
.formGgroup>form>textarea{
	width: 630px;
	height: 110px;
	padding: 10px;
	overflow: hidden;
	resize: none;
	margin-bottom: 30px;
	border: 1px solid #ddd;
}
.formGgroup>form>input[type=submit]{
	width: 150px;
	height: 50px;
	color: #fff;
	cursor: pointer;
	background-color: #349aac;
	font-size: 18px;
}
/********************* productCenter.html 							end********************/


#newsCenterContainer{
	background-color: #f5f5f5;
  overflow: hidden;
  position: relative;
}

#newsCenterContainer .whiteWrap{
	padding: 0;
	background-color: #f5f5f5;
	margin-top: 45px;
}
#newsCenterContainer ol.breadcrumb{top: 15px;}
#newsCenterContainer ol>li {
    float: left;
    font-size: 12px;
    color: #999;
}
#newsCenterContainer .leftNav{
	width: 200px;
	height: auto;
	overflow: hidden;
}
#newsCenterContainer .leftNav li{
	padding: 0;
	margin: 0;
	line-height: 50px;
}
#newsCenterContainer .leftNav li>a{
	display: block;
	line-height: 50px;
	height: 50px;
	padding-left: 20px ;
	width: auto;
	color: #333;
}
#newsCenterContainer .leftNav li>a:hover{
	color: #349aac;
}
.activeNewLi{
	background-color: #349aac;
	color: #fff;
}
#newsCenterContainer .leftNav li.activeNewLi>a{
	color: #fff;
}
#newsCenterContainer .rightContent{
	width: 905px;
}
.listContent{
	background-color: #fff;
	min-height: 500px;
	width: 100%;
	padding: 0 20px;
  box-sizing: border-box;
	overflow: hidden;
}
#newsCenterContainer .newsListWrap{
	width: 100%;
	height: 220px;
}
#newsCenterContainer .newsListWrap img{
	width: 185px;
	height: 185px;
  float: left;
  margin-top: 18px;
}
#newsCenterContainer .newsListWrap li{
	float: left;
	border-bottom: 1px dashed #eee;
  padding-bottom: 20px;
}
#newsCenterContainer .newsListWrap label{
	float: left;
  width: 700px;
  height: 185px;
  margin-top: 18px;
  background-color: #fff;
}
#newsCenterContainer .newsListWrap label>h4{
	font-size: 18px;
  color: #333;
  margin-left: 15px;
  line-height: 25px;
  margin-bottom: 10px;
  margin-top: -5px;
}
#newsCenterContainer .newsListWrap label>p {
    font-size: 14px;
    line-height: 21px;
    color: #999;
    margin: 0 15px;
    margin-right: 10px;
}
a>.i_title{
	font-style: inherit;
	color: #333;
	font-size: 12px;
}
.i_time{
	font-style: inherit;
	font-size: 12px;
	color: #999;
}
#newsCenterContainer .newsListWrap label>span{
	display: block;
	margin-top: 10px;
}
.paging>a{
	font-size: 12px;
	color: #666;
	float: left;
	width: 80px;
	height: 35px;
	text-align: center;
	line-height: 35px;
	margin: 10px 0;
}
.paging>ul{
	float: left;
	height: 37px;
	width: auto;
	overflow: hidden;
	margin-top: 10px;
}
.paging>ul>li{
	height: 35px;
	width: 36px;
	text-align: center;
	line-height: 35px;
	border: 1px solid #eee;
	float: left;
}
.paging>ul>li>a{
	display: inline-block;
	width: 100%;
	height: 35px;
}

.paging>ul>li>a:hover{
	color: #000;
	background-color: lightcyan;
}
.paging>ul>li.activePage>a{
	color: #349aac;
	background-color: #5c5c5c;
}
.newsTitle{}
.newsTitle>h3{
	font-size: 24px;
	color: #333;
	text-align: center;
	line-height: 50px;
	margin-top: 10px;
}
.newsTitle>p{
	font-size: 12px;
	color: #999;
	text-align: center;
	line-height: 30px;
}
.newsTime, .newsClassification{margin-right: 15px;}
.newsWord{
	margin-top: 10px;
	font-size: 14px;
	line-height: 24px;
	color: #333;
	text-align: center;
}
.newsWord>p{
	text-align: left;
}
.newsWord>img{
	margin: 20px auto;
}



#requireForm table{
	color: #000;
	font-size: 14px;
	line-height: 50px;
}
#requireForm table tr>td:nth-child(2n+1){
	text-align: right;
}
#requireForm table tr>td:nth-child(2n){padding-left: 30px;}
#requireForm table input[type=text]{
	width: 240px;
	padding: 0 10px;
	height: 35px;
	line-height: 35px;
	border: 1px solid #ddd;
}
#requireForm table input.submitInput{
	width: 150px;
	height: 50px;
	border: 1px solid #349aac;
	background-color: #349aac;
	color: #fff;
	font-size: 18px;
	cursor: pointer;
}
#requireForm table textarea{
	height: 100px;
	width: 686px;
	resize: none;
	border: 1px solid #ddd;
	margin-top: 10px;
	padding: 12px;
}
#requireForm table .asterisk{
	color: #ff6633;
	font-style: inherit;
}
/*.file-uploader-wrap{
    position: relative;
    width: 70px;
    height: 35px;
    -background-color: lawngreen;
}

.file-uploader-wrap .file-uploader{
    position: relative;
    width: 70px;
    height: 35px;
    top: -13px;
    left: 0px;
    -border: 1px solid red;
    filter : alpha(opacity = 0);
    opacity: 0.3;
    z-index: 2;
    cursor: pointer;
}
.file-a{
	display: inline-block;
	width: 100%;
	height: 100%;
	text-align: center;
	height: 35px;
	line-height: 35px;
	font-size: 12px;
	color: #fff;
	background-color: #349aac;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1;
}
.file-a:hover{
	color: #fff;
}*/
.fileTd{position: relative;}
td.fileTd>#textName{
	width: auto;
  min-width: 1px;
  float: left;
  height: 100%;
}
.report-file {
    position: relative;
    width: 70px;
    height: 35px;
    top: 6px;
    overflow: hidden;
    border: 1px solid #428bca;
    background: none repeat scroll 0 0 #428bca;
    color: #fff;
    cursor: pointer;
    text-align: center;
    float: left;
    margin-right:5px;
}
.report-file span {
  cursor: pointer;
  display: block;
  text-align: center;
	height: 35px;
	line-height: 35px;
	font-size: 12px;
	color: #fff;
	background-color: #349aac;
}
.file-prew {
  position: absolute;
  top: 0;
  left:0;
  width: 70px;
  height: 35px;
  font-size: 100px; 
  opacity: 0; 
  filter: alpha(opacity=0);
  cursor: pointer;
}
