*{ margin:0; padding:0;} 
body {font-size:12px; line-height:1.5;} 
#scrollTest {background:#fff;padding:10px;width:1000px;} 
  .sky_warpper { margin:100px auto;background:red;} 
  .sky_scrollTopOuter {width:7px;background:#ddd;opacity:0.3;} 
  .sky_scrollTopOuter:hover {opacity:0.8;width:7px;-webkit-transition:opacity,width 0.3s ease-out;} 
  .sky_scrollTop { background:#333;opacity:0.3;width:7px;-webkit-border-radius:5px;-webkit-transition:opacity,width 0.3s ease-out; cursor:default;} 
  .sky_warpper:hover .sky_scrollTop { opacity:0.8;width:7px;-webkit-transition:opacity,width 0.3s ease-out;} 

  .sky_scrollLeftOuter {height:7px;background:#ddd;opacity:0.3;} 
  .sky_scrollLeftOuter:hover {opacity:0.8;height:7px;-webkit-transition:opacity,height 0.3s ease-out;} 
  .sky_scrollLeft { background:#333;opacity:0.3;height:7px;-webkit-border-radius:5px;-webkit-transition:opacity,height 0.3s ease-out; cursor:default;} 
  .sky_warpper:hover .sky_scrollLeft { opacity:0.8;height:7px;-webkit-transition:opacity,height 0.3s ease-out;} 