body{
	font-family: Microsoft YaHei, 'Raleway', sans-serif;
}
/*header*/
.section.header{
	background: url(../img/head-bg.png) no-repeat center;
	-moz-background-size:100% 100%;
	background-size:100% 100%;  
	display: table;
	width: 100%;
}
header{
	width: 1200px;
	margin: 0 auto;
	-moz-background-size:100% 100%;
	background-size:100% 100%;
	height: 470px;
	display: table;
}
header#jtjshead{
	background: url(../img/jtjsBg.png) no-repeat center;
}
header#gywmhead{
	background: url(../img/jtjsBg.png) no-repeat center;
}
header#zlhbhead{
	background: url(../img/zlhbBg.png) no-repeat center;
}
header#lxwmhead{
	background: url(../img/zlhbBg.png) no-repeat center;
}
header#ywfwhead{
	background: url(../img/ywfwBg.png) no-repeat center;
}
header#hxywhead{
	background: url(../img/jtjsBg.png) no-repeat center;
}
header#gffdhead{
	background: url(../img/zlhbBg.png) no-repeat center;
}
header#xmalhead{
	background: url(../img/jtjsBg.png) no-repeat center;
}
header#jzjnhead{
	background: url(../img/zlhbBg.png) no-repeat center;
}
header#xwhdhead{
	background: url(../img/zlhbBg.png) no-repeat center;
}
header#yzfahead{
	background: url(../img/jtjsBg.png) no-repeat center;
}
.greCol{
	color: #71A94D;
}
.section.header > div{
	display: table-cell;
	vertical-align: middle;
}
header > div{
	display: table-cell;
	vertical-align: middle;
}
header .hd-wrap{ width: 1000px; }
.hd-wrap{
	width: 1200px;
	overflow: hidden;
	min-height: 450px;
	margin: 0 auto;
}
.hd-wrap h1{
	display: inline-block;
	vertical-align: top;
	height: 100%;
	color: #fff;
	line-height: 50px;
	padding-right: 20px;
	background: url(../img/colsLine.png) no-repeat center right;
}
.hd-wrap > a{
	display: inline-block;
	height: 100%;
	margin-left: 10px;
}
.hd-navUl{
	height: 26px;
	line-height: 26px;
	float: right;
	margin-top: 12px;
	font-size: 12px;
}
.hd-navList{
	float: left;
	min-width: 95px;
	background: url(../img/colsLine.png) no-repeat center right;
	text-align: center;
}
.hd-navList.active{
	background-color: #3B3D3C;
}
.hd-navList:hover{
	background-color: #3B3D3C;
}
 .hd-navList:hover > ul{
 	display: block;
 }
.hd-navUl > li:last-child{
	background-image: none;
}
.hd-navList a{
	text-decoration: none;
	display: block;
	padding: 0 10px;
	color: #fff;
	letter-spacing: 3px;
}

.hd-navList > ul{
	background-color: #3B3D3C;
	display: none;
	padding-bottom: 2px;
}
.hd-navList > ul a.letter0{
	letter-spacing: 0;
	padding: 0;
}
.hd-navList > ul a:hover{
	background-color: rgba(0,0,0,0.6);
}
header .hd-wrap .hd-title{
	margin-top: 50px;
}
.hd-title{
	margin-top: 100px;
}
.txt1{
  font-size: 60px;
  font-weight: bold;
  letter-spacing: 10px;
  color: #fff;
  height: 100px;
  line-height: 100px;
  margin: 0 auto;
  text-align: center;
}
.txt2{
  font-size: 50px;
  color: #fff;
  margin: 0 auto;
  text-align: center;
  height: 80px;
  line-height: 80px;
}
.txt2 > i{
	font-style: initial;
	position: relative;
}
.txt2 > i:after{
	content: "";
	display: inline-block;
	width: 10px;
  height: 10px;
  margin: 0 5px;
  position: relative;
  background-color: #fff;
  right: -7px;
  top: -15px;
}
.txt3{
	color: #7A7A79;
	font-size: 35px;
  margin: 0 auto;
  text-align: center;
  height: 70px;
  line-height: 70px;
  letter-spacing: 3px;
}

.content {
	width: 1000px;
	margin: 130px auto;
	overflow: hidden;
	
}
.h1Title{
	font-size: 35px;
	color: #71A94D;
	font-weight: bold;
  margin: 10px 0;
}
.h2Title{
	font-size: 25px;
	color: #71A94D;
	font-weight: bold;
  margin: 10px 0;
  padding: 0 25px;
  background: url(../img/lingxing.png) no-repeat 0px center;
}
.textWrap{
	height: auto;
	overflow: hidden;
	clear: both;
	font-size: 14px;
	color: #747373;
	line-height: 30px;
	letter-spacing: 3px;
}
.textWrapLeft{
	float: left;
}
.textWrapRight{
	float: right;
}
.zhanlvebg .textWrapLeft{
	width: 500px;
}
.zhanlvebg .textWrapLeft > P{
	padding: 0 25px;
}
p.hasbg{
	background: url(../img/yuandian2.png) no-repeat 0px center;
}
.textIndent{
	text-indent: 2em;
}
.showImg{
	margin-top: 60px;
}
.showImgAbout{
	margin-top: 20px;
}
.showImgAboutLeft{
	float: left;
	width: 660px;
}
.showImgAboutRight{
	float: right;
	width: 273px;
}
.mt90{ margin-top: 90px;}

.zlhbWrap{
	width: 450px;
	min-height: 230px;
	margin-top: 20px;
}
.ititle{
	border-bottom: 2px solid #71A94D;
	height: 30px;
	line-height: 30px;
}
.ititle label{
	min-width: 90px;
	height: 30px;
	display: inline-block;
  text-indent: 1em;
  background-color: #71A94D;
  color: #fff;
  position: relative;
} 
.ititle label:after{
	content: "";
	display: inline-block;
	position: absolute;
	border-top:15px solid transparent;
  border-bottom: 15px solid #71A94D;
  border-left: 8px solid #71A94D;
  right: -16px;
  border-right: 8px solid transparent;
}




/*make*/
.section.make{
	background:url(../img/makeBgImg.jpg)  no-repeat center;
	-moz-background-size:100% 100%;
	background-size:100% 100%;  
	display: table;
	width: 100%;
}
.section.make > div{
	display: table-cell;
	vertical-align: middle;
}
.makeWrap{
	position: relative;
	height: 100%;
	overflow: hidden;
	background-color: rgba(0, 96, 100, 0.9);
	min-height: 450px;
}

.imgWarp{
	text-align: center;
	margin-top: 60px;
}
blockquote {
	font-size: 1.71em;
	color: #fff;
	line-height: 1.3636em;
	background-color: #f7f7f7;
	margin-left: 0;
	margin-right: 0;
	padding: 28px 30px;
	text-align: center;
	border-left: #00acc1 solid 5px;
}
blockquote.blockquote2 {
	position: relative;
	background-color: transparent;
	border-left: none;
	padding: 28px 30px 28px 48px;
}
blockquote.blockquote2 > span:before {
	position: absolute;
	top: 0;
	margin: 8px 0 0 -48px;
	font-size: 32px;
	color: #fff;
}
blockquote.blockquote2.quoteLight > span:before {
	color: #fff !important;
}
blockquote.blockquote2 > span ~ span:before {
	content: '';
}
.wpb_wrapper{
	font-size: 16px;
  line-height: 28px;
  text-align: center;
  color: #fff;
}
.moreInformation{
	text-align: center;
	margin-top: 40px;
}
.btnA.makeA{
	background-color: #6F8731;
	/*border: 1px solid #0A341D;*/
	border: none;
}

/*businessIntroduce*/
.section.businessIntroduce{
	background-color: #eee;
	display: table;
	width: 100%;
}
.section.businessIntroduce > div{
	display: table-cell;
	vertical-align: middle;
}
.bi-wrap{
	width: 1200px;
	overflow: hidden;
	margin: 0 auto;
}
.ibox{
	width: 100%;
}
.ibox-title{
	height: 30px;
	line-height: 30px;
	color: #000;
  text-align: center;
  display: table;
  margin: 0 auto 30px;
}
.lineLeft, .lineRight{
	position: relative;
	display: table-cell;
	width: 330px;
}
.lineLeft:before, .lineLeft:after, .lineRight:before, .lineRight:after {
    position: absolute;
    content: '';
    height: 2px;
    bottom: 12px;
}
.lineLeft:before, .lineRight:before{
		width: 100%;
		background-color: rgba(224,224,224,1);
}
.lineLeft:after, .lineRight:after{
		width: 30px;
    background-color: rgba(71,71,71,1);
}
.lineLeft:before{ left: 0; }
.lineRight:before{ right: 0;}
.lineLeft:after{ right: 0; }
.lineRight:after{ left: 0;}

.ibox-title > h2{
	display: table-cell;
	width: 140px;
	vertical-align: middle;
	font-size: 25px;
	font-weight: bold;
}
.ibox-content{
	height: 360px;
	position: relative;
}
.section.businessIntroduce .ibox-content:before{
	content: "";
	width: 100%;
	position: absolute;
	border-top: 3px solid #C0C0C0;
	left: 0;
  top: -10px;
  height: 3px;
}
.section.businessIntroduce .ibox-content:after{
	content: "";
	width: 100%;
	position: absolute;
	left: 0;
	border-top: 3px solid #C0C0C0;
  bottom: -12px;
  height: 3px;
  visibility: visible!important;
}
.leftBox{
	float: left;
	width: 30%;
}
.leftBox > img{
	float: left;
	width: 50%;
	height: 50%;
	cursor: pointer;
}
.rightBox{
	float: left;
	position: relative;
	overflow: hidden;
	width: 70%;
	height: 100%;
	background-color: #fff;
}
.leftImg, .rightTxt{
	width: 50%;
	height: 100%;
	float: left;
}
.leftImg > img{
	width: 100%;
	height: 100%;
}
.rightTxt{
	background-color: #fff;
	height: 100%;
}
.rightTxt h2{
	font-size: 20px;
	font-weight: bold;
	line-height: 30px;
	height: 30px;
}
.thetitle, .thetext{
	margin: 45px 30px 30px 25px;
}
.rightTxt .lineRight{
	width: 355px;
}
.rightTxt .lineRight:before, .rightTxt .lineRight:after{
	bottom: -12px;
}
.thetext > p{
	line-height: 28px;
}
.rightBox .contentBox{
	height: 100%;
	position: absolute;
	left: 0;
	top: 360px;
}
.rightBox .contentBox.listActive{
	top: 0;
}

/*newsActive*/
.section.newsActive{
	background-color: #3F4042;
	display: table;
	width: 100%;
}
.section.newsActive > div{
	display: table-cell;
	vertical-align: middle;
}
.nz-wrap{
	width: 1200px;
	overflow: hidden;
	margin: 0 auto;
}
.section.newsActive .ibox-title{
	color: #fff;
}
.section.newsActive .ibox-content{
	height: 400px;
	position: relative;
	padding: 10px 0;
	background-color: #fff;
}
.section.newsActive .ibox-content:before{
	content: "";
	width: 100%;
	position: absolute;
	left: 0;
	border-top: none;
  top: -10px;
  height: 10px;
  background-color: #E9E9E9;
}
.section.newsActive .ibox-content:after{
	content: "";
	width: 100%;
	position: absolute;
	left: 0;
	border-top: none;
	background-color: #E9E9E9;
	bottom: -10px;
  height: 10px;
  visibility: visible;
}
.newsBox{
	float: left;
	width: 400px;
	height: 400px;
	background-color: lightcoral;
}
.newsBox1{
	background: rgba(0,0,0,.5) url(../img/new1Img.png) no-repeat center;
	-moz-background-size:100% 100%;
	background-size:100% 100%;
	position: relative;
}

.newsBox1 > img{
	width: 100%;
	height: 100%;
}
.newsBoxWarp{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 999;
	text-align: center;
	color: #fff;
}

.newsBox1WrapImg{
	margin-top: 100px;
}
.newsBoxWrapTitle{
	font-size: 18px;
	height: 50px;
	line-height: 50px;
}
.newsBoxWrapTxt{
	font-size: 12px;
}
.smallBtnA.btnA{
	width: 65px;
	height: 20px;
	line-height: 20px;
	border: 1px solid #474747;
	background-color: #474747;
	font-size: 12px;
}
.newsBox2{
	position: relative;
	background-color: #fff;
}
.newsBox2 .newsBoxWarp{
	color: #000;
}
.newsBox2WrapY{
	margin-top: 100px;
	font-size: 55px;
}
.newsBox3{
	position: relative;
	background-color: #00959B;
}

/*contactUs*/
section#llwmSection{
	width: 1200px;
	margin: 10px auto;
}
section#llwmSection .section.contactUs{
	padding: 80px 0 50px;
	z-index: 0;
}
.section.contactUs{
	background: url(../img/makeimgBg.png) no-repeat center;
	-moz-background-size:100% 100%;
	background-size:100% 100%;  
	display: table;
	width: 100%;
	position: relative;
	z-index: -2;
}
.contactUs:after{
	content: "";
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: -1;
	background-color:rgba(11,70,66, 0.9)
}
.section.contactUs > div{
	display: table-cell;
	vertical-align: middle;
}
.cu-wrap{
	width: 1200px;
	overflow: hidden;
	margin: 0 auto;
}
.cu-wrap .ibox-title{
	color: #fff;
}
.cuBox{
	width: 800px;
	overflow: hidden;
	margin: 10px auto;
	padding-bottom:50px ;
}
.cuLeftBox{
	width: 60%;
	float: left;
}
.cuRightBox{
	width: 40%;
	float: left;
}
.cuBottomBox{
	height: 50px;
}
.cuInput{
	height: 30px;
	padding: 5px 10px;
	margin: 10px 30px 10px 0;
	background: transparent;
	border: none;
	border-bottom: 1px solid #fff;
	width: 200px;
	color: #fff;
	font-size: 15px;
}

.emailContent{
	height: 180px;
	width: 460px;
	padding: 10px;
	margin: 10px 30px 10px 0;
	background: transparent;
	border: none;
	border-bottom: 1px solid #fff;
	color: #fff;
	font-size: 15px;
	resize: none;
}
#emailTheme{
	width: 460px;
}
#yourEmail, #emailTheme, #emailContent{
	margin-right: 0;
}
.cuRightBox li{
	height: 100px;
	padding-left: 10px;
	margin-left: 10px;
	position: relative;
}
.labBox{
	width: 60px;
	height: 60px;
	display: inline-block;
	background-color: #879B99;
	position: relative;
	position: absolute;
	text-align: center;
  border-radius: 50%
}
.labBox i.fa{
	vertical-align: top;
	font-size: 20px;
	color: #fff;
  line-height: 60px;
}
.cuRightBox li > p{
	color: #fff;
	line-height: 30px;
	padding-left: 85px;
}
.cu-wrap .ibox-content{
	height: auto;
}
.cuBottomBox{
	margin: 50px auto 0;
	width: 800px;
	clear: both;
	text-align: right;
}
.cuBottomBox a.btnA{
	margin-left: 180px;
	margin-top: 30px;
}



/*footer*/
.section.footer{
	background: url(../img/foot-bg.png) no-repeat center;
	-moz-background-size:100% 100%;
	background-size:100% 100%;
	display: table;
	width: 100%;
}
.section.footer > div{
	display: table-cell;
	vertical-align: middle;
}
footer{
	width: 1200px;
	margin: 0 auto;
	background: url(../img/foot-bg.png) no-repeat center;
	-moz-background-size:100% 100%;
	background-size:100% 100%;
	display: table;
	height: 450px;
}
footer > div{
	display: table-cell;
	vertical-align: middle;
}
footer > .ft-wrap{
	width: 1000px;
}
.ft-wrap{
	width: 1200px;
	margin: 0 auto;
	overflow: hidden;
}
.ft-wrap h1{
	display: inline-block;
	vertical-align: top;
	height: 30px;
	color: #fff;
	line-height: 30px;
	padding-right: 20px;
	margin-top: 10px;
	background: url(../img/colsLine.png) no-repeat center right;
}
.ft-wrap .logoWrap > a{
	display: inline-block;
	height: 100%;
	margin-left: 10px;
}
footer > .ft-wrap > .logoWrap{
	margin: 20px auto 0;
}
footer > .ft-wrap > .ft-title, footer > .ft-wrap > .subscribe{
	margin-top: 40px;
}
.ft-wrap .logoWrap{
	width: 100%;
	margin: 0 auto 30px;
	text-align: center;
	height: 50px;
}

.ft-title{
	margin-top: 80px;
}
.subscribe{
	text-align: center;
	margin-top: 80px;
}
.btnA{
	display: inline-block;
	width: 130px;
	height: 40px;
	border-radius: 4px;
	line-height: 40px;
	border: 1px solid #fff;
	background-color: transparent;
	color: #fff;
	text-align: center;
	text-decoration: none;
}

