/* header start*/
.layui-layout-admin .layui-header{
	height: 34px;
	background-color: #F2F3F7;
	color: #57585A;
	line-height: 34px;
}
.layui-layout-admin .layui-header .navbox{
	width: 1200px;
	margin: 0 auto;
	position: relative;
}
.layui-nav .layui-nav-item{
	line-height: 34px;
}
.layui-nav .layui-nav-item a{
	color: #57585A;
}
.layui-nav .layui-nav-item a>i{
  color: #B1B1B1;
}
nav.navbox .layui-nav .layui-nav-item a:hover, nav.navbox .layui-nav .layui-this a{
	color: #000;
}
nav.navbox .layui-nav-bar{
	background-color: #FF6029;
}
.layui-nav .layui-this:after, .layui-nav-bar, .layui-nav-tree .layui-nav-itemed:after{
	background-color: #FF6029;
}
nav.navbox .layui-nav .layui-nav-more.layui-nav-mored{
	top: 10px;
	border-color: transparent transparent #000;
}
nav.navbox  .layui-nav .layui-nav-more{
	top: 15px;
  right: 4px;
  border-width: 5px;
	border-color: #000 transparent transparent;
}
nav.navbox .layui-nav .layui-nav-item .layui-nav-child{
	top: 40px;
}

/* header end*/

/*grid(logo、search、receipt) start*/
.grid_total{
	width: 100%;
}
.grid_wrap{
	width: 1200px;
	margin: 0 auto;
	position: relative;
}
.grid_total > div.grid_wrap{
	height: 130px;
}
.grid_logo{
	width: 165px;
	height: 139px;
	background-color: lightblue;
	position: absolute;
	top: -40px;
	z-index: 9999;
	background: url(../img/logo_bg.png);
  text-align: center;
  line-height: 130px;
}    
.grid_logo>a{
	width: 100%;
  height: 100%;
  display: inline-block;
}
.grid_search{
	float: right;
  width: 720px;
  margin-top: 46px;
}
.shopping-cart{
	width: 140px;
	background-color: #F2F3F7;
	border-radius: 6px;
	height: 36px;
	line-height: 36px;
	text-align: center;
	font-size: 12px;
	float: right;
}
.shopping-cart > a{
	display: inline-block;
	width: 100%;
	height: 100%;
	color: #323232;
}
.shopping-cart > a >i.fa{
	color: #FF6029;
  font-size: 20px;
  margin-right: 5px;
  position: relative;
  top: 1px;
}
.shopping-cart > a > span.layui-badge{
	right: 4px;
  top: -6px;
  line-height: 16px;
  padding: 0 4px;
  height: 16px;
}
.search_box{
	width: 536px;
  float: left;
}
.layui-unselect.layui-form-select{
	width: 80px;
	font-size: 12px;
	color: #323232;
	float: left;
}
.layui-form-select .layui-edge{
	right: 5px;
  border-width: 5px;
  margin-top: -4px;
}
.layui-form-select.layui-form-selected .layui-edge{
	margin-top: -9px;
}
.layui-form-select .layui-input{
	padding-right: 10px;
	float: left;
}
.search-content-word{
	width: 376px;
	float: left;
  border: 2px solid #FF6029;
  border-left: none;
  border-right: none;
  margin-left: -1px;
}
.layui-input:hover, .layui-input:focus{
	border-color: #FF6029!important;
}
.layui-select-title > input.layui-input.layui-unselect{
	background: #FEF5F4;
  border: 2px solid #FF6029;
  border-right: none;
  border-radius: 6px 0 0 6px;
}
dl.layui-anim.layui-anim-upbit > dd.layui-this{
	background-color: #FF5722;
}
.search-content-btn{
	background-color: #FF6029;
  position: relative;
  left: -1px;
  border-radius: 0px 6px 6px 0px;
}
/*grid(logo、search、receipt) end*/