*{
    box-sizing: border-box;
}
header{
    height: 36px;
    overflow: hidden;
    background-color: #f0efef;
}
header .layui-nav{
    background-color: #f0efef;
    height: 36px;
    padding: 0;
}
header .layui-nav .layui-nav-item{
    line-height: 36px;
}
header .layui-nav .layui-nav-item a{
    color: #666666;
    font-size: 12px;
    padding-left: 0;
    padding-right: 30px;
}
header .layui-nav .layui-nav-item a i{
    font-size: 14px;
}
header .layui-nav .layui-nav-item a:hover{
    color: #666666;
}
header .layui-nav .layui-nav-bar{
    display: none !important;
    opacity: 0 !important;
    width: 0 !important;
}
header .layui-nav .layui-nav-more{
    border-color: #666666 transparent transparent !important;
    top: 17px;
    border-width: 4px;
    right: 18px;
}
header .layui-nav .layui-nav-mored{
    border-color: transparent transparent #666666 transparent !important;
    top: 15px;
    right: 18px;
    border-width: 4px;
}
